.Kosaram {
  background-color: rgb(143, 194, 119);
  text-align: left;
  width: 400px;
  height: 500px;
  top: 200px;
  justify-self: center;
  position: relative;
  border-radius: 20px;
  box-shadow: rgb(59, 133, 63) 0px 0px 30px;
  color: #333;
  line-height: 3;
}

.Kosaram::after {
  content: "";
  position: absolute;
  box-shadow: inset black 0px 0px 30px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hatter_kep_kosar{
    position: absolute;
    top: 450px;
    opacity: 15%;  
}