#cArt {
  opacity: 10%;
  height: 850px;
  width: 850px;
  left: -100px;
  top: 200px;
  position: absolute;
  rotate: -8deg;
}

#divKosar {
  /* background-color: rgb(202,218, 195); */
  background-image: linear-gradient(rgb(40, 107, 9), rgb(143, 194, 119), rgb(95, 152, 69));
  text-align: center;
  width: 500px;
  height: 600px;
  top: -30px;
  left: 0px;
  position: relative;
  border-radius: 20px;
  box-shadow: black inset 0px 0px 30px;
  color: #333;
  line-height: 1.8;
}

#megsemBtn {
  position: absolute;
  display: flex;
  background-color: rgb(92, 204, 40);
  font-size: 21px;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  left: 85px;
  bottom: 100px;
  box-shadow: black 0px 10px 20px;
  outline: none;
}

#megsemBtn:hover {
  box-shadow: black 0px 7px 10px;
}

#rendelesBtn {
  position: absolute;
  display: flex;
  background-color: rgb(92, 204, 40);
  font-size: 21px;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  left: 215px;
  bottom: 100px;
  box-shadow: black 0px 10px 20px;
  outline: none;
}

#rendelesBtn:hover {
  box-shadow: black 0px 7px 10px;
}

#kosarP {
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 50px;
}