#cArt {
  opacity: 10%;
  height: 850px;
  width: 850px;
  left: -100px;
  top: 200px;
  position: absolute;
  rotate: -8deg;
}

#divKosar {
  /* background-color: rgb(202,218, 195); */
  background-image: linear-gradient(rgb(40, 107, 9), rgb(143, 194, 119), rgb(95, 152, 69));
  text-align: center;
  width: 500px;
  height: 600px;
  top: -30px;
  left: 0px;
  position: relative;
  border-radius: 20px;
  box-shadow: black inset 0px 0px 30px;
  color: #333;
  line-height: 1.8;
}

#megsemBtn {
  position: absolute;
  display: flex;
  background-color: rgb(95, 152, 69);
  font-size: 21px;
  border-radius: 15px;
  width: 90px;
  height: 40px;
  justify-content: center;
  align-items: center;
  left: 90px;
  bottom: 70px;
  box-shadow: black 0px 10px 20px;
  outline: none;
}